
.navbar-brand {
    margin-bottom: 0px;
}

.nav {
    font-size: large;
}

.title {
    float: left;
    text-align:left;
    margin-bottom: 0px;
}

.navbar-collapse.collapse.in {
    display: block!important;
  }

.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e; 
}

.footer-cust {
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: large;
    position: absolute;
    bottom: 0;
}

  