<!DOCTYPE html>
<html>
    <head>     
        <title>Hum</title>
        <!-- add icon link -->    
        <!-- <link rel=icon href="https://skillicons.dev/icons?i=heroku"> -->
        <link href="{{ url_for('static', path='/base.css') }}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4959c4e0cc.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />      
        <script src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"> </script>    
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light collapse" id="mainNav" style="background-color:#D8DEE9">
            <div class="container-fluid">
                <div class="title">
                    <a class="navbar-brand" href="/"> Hum: A Sentiment Site <i class="fa-solid fa-house"></i> </a>
                </div>        
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <li class="nav-item text-black">
                                <a class="nav-link text-black font-weight-bold" href="https://www.paypal.com/donate/?business=WX4NWUQKPPDK4&no_recurring=1&currency_code=USD"><i class="fa-brands fa-paypal fa-xl"></i> Donate </a> 
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="/about/"><i class="fa-solid fa-circle-info xl"></i></i>  About</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="/trends/"><i class="fa-solid fa-arrow-trend-up xl"></i>  Trends</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="https://github.com/ggsmith842/sentiment-api-hum"><i class="fa-brands fa-github fa-xl"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer class="py-3 bg-grey footer-cust">

            <!-- <p class="m-0 text-dark text-center ">Copyright &copy; Articulate Badger</p> -->
            <i class="fa-solid fa-mountain-sun fa-xl"></i>
            <p class="m-0 text-dark text-center">Built by MuirApps</i> </p>
            <a href="https://developer.twitter.com/en/products/twitter-api" style="color:#00acee; font-size: small;"> Built Using Twitter API <i class="fa-brands fa-twitter"></i></a>
            <a href="#" style="color:#00acee; font-size: small;"> | <i class="fa-solid fa-circle-info"></i> Data & Privacy Policy </a>
        </footer>
    </body>
</html>